<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=@reservation.name %></title>
  </head>
  <body>
    <h1> Welcome to <%=@host.name%>'s page!</h1>
    <br>
    <img src="<%@reservation.url%>" alt="">
    <br>
    Description: <%=@reservation.description%>
    <h3>What would you like to do?</h3>



  </body>
</html>
