<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=@user.name %></title>
  </head>
  <body>
    <h1> Welcome <%=@user.name%>!</h1>
    <br>
    <h2>What would you like to do?</h2>

  </body>
</html>
